.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightblue;
  border-radius: 10px;
  border: 2px dashed black;
  padding: 10px;
  height: 100%;
  width: 100%;
}